.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}


.card-body {
    margin: 4px 0;
    padding: 6px;
    background-color: #f5f5f5;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;

}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.message-card {
    box-shadow: none !important;
    border-style: double !important;
    border-width: 2px !important;
    border-color: black;
    border-radius: 6px;
    margin-bottom: 5px;
    transition: box-shadow 0.3s ease;
    max-width: 440px;
    min-width: 440px;
    min-height: 70px
}

.number {
    display: flex;
    align-items: center;
    font-weight: 550;
}

.time {
    color: rgba(0,0,0,0.6);
    font-size: 1rem;
}

.status {
    display: flex;
    align-items: center;
    font-size: 0.85rem;
}
.message-length {
    color: rgba(0,0,0,0.6);
    font-size: 0.85rem;
}

.text-card {
    margin-bottom: 20px;
}

.body-parent {
    margin: 0 !important;
    padding: 0 !important;
}